.success--page {
  width: 100%;
  background-color: #fff;
  min-height: 374px;
  position: relative;

  .success--message {
      width: 884px;
      border: 6px solid #fcc92f;
      position: relative;
      text-align: center;
      padding: 36px 32px 30px;
      margin: 68px auto 20px;
      box-sizing: border-box;

      & > h2 {
          color: #fa501e;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 25px;
          line-height: 58px;
      }

      & > h3 {
          font-weight: 400;
          font-size: 19px;
          line-height: 36px;
      }

      & > .success--btn-back {
          display: block;
          width: 200px;
          line-height: 35px;
          color: #000 !important;
          padding: 5px 10px;
          background-color: #f4f4f4;
          -moz-box-shadow: 0px 4px 0px #fa501e;
          -webkit-box-shadow: 0px 4px 0px #fa501e;
          box-shadow: 0px 4px 0px #fa501e;
          border: none;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          cursor:pointer;
          -webkit-transition: all linear 0.3s;
          -moz-transition: all linear 0.3s;
          -ms-transition: all linear 0.3s;
          -o-transition: all linear 0.3s;
          transition: all linear 0.3s;
          outline:none;
          margin: 34px auto 0;
          font-size: 14px;
          text-decoration: none !important;
      }

      & > .success--btn-back:hover {
          background-color: #dedede;
          -webkit-transition: none;
          -moz-transition: none;
          -ms-transition: none;
          -o-transition: none;
          transition: none;
      }

      & > .success--btn-back:active {
          position: relative;
          top: 3px;
          -moz-box-shadow: 0px 1px 0px #fa501e;
          -webkit-box-shadow: 0px 1px 0px #fa501e;
          box-shadow: 0px 1px 0px #fa501e;
      }
  }
}

@media screen and (max-width: 920px) {
    .success--page {
        width: 100%;

        .success--message {
            width: 750px;
            & > h2 {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .success--page {
        width: 100%;
        background-color: #fff;
        min-height: 374px;
        position: relative;

        .success--message {
            width: auto;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 25px;
            & > h2 {
                line-height: 40px;
            }
        }
    }
}
