/*

    Yaroslav Romanenko
    yarikrom05@gmail.com
*/


@media (max-width: 1440px) {

.container {
     width: 95%;
    margin: 0 2.5%;
}
.fs-product-name h5 {
    font-size: 1.463em;
}
.component-img.com1 img {
    height: 45px;
    bottom: -8px;
    right: -140px;
}
.component-img.com2 img {
    height: 68px;
    bottom: 22px;
    right: -100px;
}
.component-img.com3 img {
    height: 89px;
    bottom: -14px;
    right: -122px;
}
.component-img.com4 img {
    height: 86px;
    bottom: -10px;
    left: -140px;
}
.component-img.com5 img {
    height: 88px;
    bottom: -5px;
    left: -107px;
}
.component-img.com6 img {
    height: 69px;
    bottom: -20px;
    left: -118px;
}
.c-left .ts-component-text ,
.c-right .ts-component-text {

    width: 90%;
}
.ts-component-img img {
    padding-top: 30px;
    width: 75%;
}
.c-left .ts-component-text p {
    width: 90%;
    position: relative;
    transform: skew(-45deg);
    text-align: center;
    margin-left: -86px;
    padding: 12px 0px 0 0px;
    left: 50px;
        font-size: 14px;
}
.c-right .ts-component-text p {
    width: 90%;
    position: relative;
    margin-right: -82px;
    padding: 15px 0px 11px 0px;
    right: -55px;
    font-size: 14px;
}
.c-left .component-title {
    position: relative;
    left: -15px;
}
.component-title {
    font-size: 16px;
}
.c-right .component-title {
    position: relative;
    right: -36px;

}
.c-right .ts-component {
    left: -20px;
}
.sxs-reviev{
    width: 31%;
    margin-right: 2%;
}
.svs-product {
    margin-top: 0%;
}
}
@media (max-width: 1200px) {
.svs-product {
    margin-top: 33%;
}
}
@media (max-width: 991px) {

.container{
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}
.row{
    margin:0;
    position: relative;
}
header {

    padding-top: 15px;
    background: url(../images/bg1m.png);
    background-position: top center;
    background-size: 100% 370px;
    background-repeat: no-repeat;
}
.fs-product-name h5{
    padding-top: 0;
    color: #fff;
    font-size: 16px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
 header .fs-actions{
    display: none;
 }
 .fs-hiu-effect, .ss-achievement-inner {
    width: 100%;
}
 .fs-benefit-title{
    padding-top: 15px;
 }
.fs-benefit-title h1{
    color: #fff;
    font-size: 28px;
}
.fs-prod-img img {
position: absolute;
    height: auto;
    width: 180%;
    /* max-width: 327px; */
    left: -35%;
    z-index: 2;
}
.fs-benefits{
    padding-top: 30px;
}
.fs-prod-price{
      font-size: 28px;
        line-height: 1.087;
          width: 91px;
  height: 91px;
top: 140px;
    right: -40px;
      padding: 15px 15px 30px 11px;
}
.fs-prod:after{
    content: "";
    width: 120px;
    height: 190px;
    background:url("../images/bg1m_prod.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
        top: 170px;
    left: 85px;
}
.fs-prod-benefits {
     font-size: 16px;
}
.fs-prod-benefits ul li {
    padding-top: 10px;
    padding-left: 25px;
}
.fs-prod-benefits ul li:after {
    width: 100%;
    height: 2px;
    background: url(../images/fs-li-border.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    content: " ";
    margin-top: 8px;
    margin-left: -5px;
}
.fs-prod-benefits ul li:last-child:after
{
    content: none;
}
.cta-button a{
        position: absolute;
    bottom: -48px;
    left: -90px;
    z-index: 9999;
}
h2.section-title {
    padding-top: 0;
    font-size: 28px;
    color: #000000;
    text-align: center;
}

.fs-round-img, .ss-round-img{
    width: 178px;
    height: 178px;
    padding:5px;
}
.ss-achievement-text{
    font-size:14px;
    padding-top: 15px;
}
section#section2 {
    padding-top: 50px;
    padding-bottom: 30px;
}

section#section2 h2.section-title {
    padding-top: 40px;
    font-size: 28px;
    color: #000000;
    text-align: center;
}
section#section5,
section#section4 {

    padding-top: 30px;
    padding-bottom: 50px;
}
#section5 .container .row > .col-md-12{
    padding:0;
}
section#section5 h2.section-title {
    padding-bottom: 30px;
}

section#section3{
    background: url(../images/bg3m.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 170px;
}
section#section3 h2.section-title{
    font-size: 28px;
    padding-top: 25px;

}
.col-md-3.c-right,
.col-md-3.c-left{
    padding: 0;
}
.c-right .ts-component-text,
.c-left .ts-component-text{
    width: 100%;
    left: 0;
    margin-top: 10px;
    border:none;
    padding: 0;
    transform: none;

}
.fs-efect-numb {
    font-size: 40px;
    width: 50px;
    height: 50px;
    right: 30px;
    top: -4px;
}
.c-right .ts-component-text p,
.c-left .ts-component-text p{
    width: 100%;
        text-align: left;
    margin-left: 0;
    padding: 0;
    left: 0;
    transform: none;
    font-size: 12px;
}
.c-right .ts-component-text:after,
.c-left .ts-component-text:after{
    content: none;
}
.component-title {
    text-align: left;
}
.c-right .component-title,
.c-left .component-title{
    left: 0;
}
.ts-component-img,
.component-img {
    display: none;
}

.ts-component {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: #534741;
   height: 100%;
}
.c-right .ts-component,
.c-left .ts-component{
    padding-left: 100px;
    margin-top: 20px;
}
.c-right .ts-component{
    left: 0;
}
.c-left .ts-component:nth-child(1){
    background: url(../images/comp1m.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left center;
    margin-top: 0;
}
.c-left .ts-component:nth-child(2){
        background: url(../images/comp2m.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left center;
}
.c-left .ts-component:nth-child(3){
        background: url(../images/comp3m.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left center;
}

.c-right .ts-component:nth-child(1){
    background: url(../images/comp4m.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left center;

}
.c-right .ts-component:nth-child(2){
        background: url(../images/comp5m.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left center;
}
.c-right .ts-component:nth-child(3){
        background: url(../images/comp6m.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left center;
}
.ts-comp-prod {
    position: absolute;
    bottom: -118px;
}
section#section3 h2.section-title{
    padding-bottom: 35px;
}
section#section3 .col-md-6{
    position: inherit;
}

section#section3 .cta-button a{
    top: 0;
    left: 0

}

section#section3 .cta-button{
      top: 90px;
    /* display: none; */
    position: relative;
}
.fis-right-img{
    display: none;
}
.fis-text p {
    font-size: 14px;
      line-height: 1.143;
}
section#section5 .col-md-6{
    padding:0;

}
.sxs-reviews.item-slider.row {
    text-align: center;
    overflow: hidden;
    height: 570px;
    width: 100%;
}
.sxs-reviev {
    width: 100%;
    position: absolute;
    margin-right: 0%;
    top: 0;
    left: 0;
}
.owl2-controls {
    position: absolute;
    background: transparent;
    width: 100%;
    height: 50px;
    bottom: 0;
}

.owl2-dot {
    width: 9%;
    height: 100%;
    padding-top: 32px;
    display: inline-block;
}

.owl2-dot span {
    width: 18px;
    height: 18px;
    background: #ffffff;
    display: inline-block;
    border-radius: 50%;
}
.owl2-dot.active span{
    background: #ffe97f;
}
section#section6 {
    padding-top: 30px;
    padding-bottom: 35px;
}
section#section6 h2.section-title {
    font-size: 28px;
    padding-bottom: 35px;
    padding-top: 0;
}
.svs-product {

    display: none;
}
.award {

    height: 710px;

}
.awards {
    display: inline-block;
    width: 100%;

    text-align: center;
    position: absolute;
    height: 800px;
    left: 0;
}
.award img {
    position: absolute;
    top: 90%;
    left: 0;
}
.awards .award:first-child img {
    left: 0;
}
.svs-form {
    width: 290px;
    background-color: #ffffff;
    padding-top: 20px;
    position: relative;
    left: -30px;

    margin-bottom: 150px;
}
footer {
    background-color: #03031d;
    background-image:none;
    padding-bottom: 60px;
    z-index: 999;
}
/* without timer */
footer {
    padding-bottom: 107px;
}


footer:after{
display: none;
}
footer h2.section-title {
    padding-top: 35px;
    padding-bottom: 35px;
    color: #fff;
    font-size: 28px;
    line-height: 1.2;
margin:0;
padding-left: 0;
}
.foter-text {
    text-align: center;
    color: #efe5cb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 55px 0px 0px 0px;
    font-weight: 300;
}
section#section4 h3.section-sub-title {
    font-size: 18px;
    text-align: center;
}
}
@media (min-width: 990px) and (max-width: 1070px) {
.fs-numbers {
    width: 33%;
    height: 53px;
    float: left;
    padding: 0 3px;
}
.svs-actions, .fs-actions {

    padding-left: 0px;

}
}
