/*
    Yaroslav Romanenko
*/

@import url(typography.css);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'PlayfairRegular' serif;
  min-width: 320px;
  font-size: 16px;
  color: #010202;

}

header {
  padding-top: 18px;
  background: url("../images/bg1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrapper{
    overflow-x: hidden;
}
header .col-md-6 {
  padding: 0;
}

.fs-product-name h5 {
  padding-top: 25px;
  color: #9d9580;
  font-weight: bold;
  font-size: 1.563em;
}

.svs-actions,
.fs-actions {
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
  float: left;
}

.fs-actions-text {
  padding-top: 6px;
  width: 33.33333%;
  float: left;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.fs-numbers-group {
  width: 66.66666%;
  float: left;
  padding-left: 10px;
}

.fs-numbers {
  width: 48px;
  height: 53px;
  float: left;
  padding: 0 3px;
}

.fs-numbers p {
  font-size: 55.21px;
  background: #f1f2f2;
  width: 100%;
  text-align: center;
  margin: 0 3px;
  border-radius: 5px;
  color: #c2c2c2;
}

.fs-benefit-title h1 {
  color: #dfc993;
}

.fs-numbers-group .active p {
  color: #363636;
}

.fs-benefit-title {
  padding-top: 40px;
  font-size: 55px;
}

.fs-benefits {
  padding-top: 93px;
}

.fs-prod-benefits {
  color: #fcecd0;
  font-size: 23px;
}

.fs-prod-benefits ul li {
  padding-top: 18px;
  padding-left: 15px;
}

.fs-prod-benefits ul li:first-child {
  padding-top: 0;
}

.fs-prod-benefits ul li:after {
  width: 100%;
  height: 2px;
  background: url(../images/fs-li-border.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  content: " ";
  margin-top: 14px;
  margin-left: -15px;
}

.cta-button {
  padding: 70px 0 75px 0;
}

.cta-button a {
  color: #f1f2f2;
  font-family: PlayfairBlold;
  font-weight: 900;
  height: 60px;
  display: inline-block;
  padding: 10px 25px;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #ec8a00;
  background-image: -moz-linear-gradient( 90deg, rgb(255, 110, 2) 0%, rgb(255, 187, 2) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255, 110, 2) 0%, rgb(255, 187, 2) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255, 110, 2) 0%, rgb(255, 187, 2) 100%);
  -moz-transform: matrix( 0.92463092463092, 0, 0, 0.92830997805749, 0, 0);
  -webkit-transform: matrix( 0.92463092463092, 0, 0, 0.92830997805749, 0, 0);
  -ms-transform: matrix( 0.92463092463092, 0, 0, 0.92830997805749, 0, 0);
  border: 3px solid #e5e5e5;
  border-radius: 30px;
  text-decoration: none;
}

.cta-button a:hover {
  background-color: #ec8800;
  background-image: -moz-linear-gradient( 90deg, rgb(233, 100, 0) 0%, rgb(239, 174, 0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233, 100, 0) 0%, rgb(239, 174, 0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233, 100, 0) 0%, rgb(239, 174, 0) 100%);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.34), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.fs-prod-price {
  position: absolute;
  top: 240px;
  right: -12px;
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #03031d;
  width: 130px;
  height: 130px;
  padding: 25px 15px 30px 11px;
  border: 3px solid #dfc993;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px 0px rgba(75, 67, 67, 0.5);
  z-index: 9;
}

.fs-prod-img img {
  position: absolute;
  height: 588px;
  width: auto;
  max-width: 327px;
  left: -100px;
}

section#section2 {
  padding-top: 120px;
  padding-bottom: 70px;
}

h2.section-title {
  padding-top: 30px;
  font-size: 50px;
  color: #000000;
}

.ss-achievement {
  padding-top: 50px;
}

.item-center .fs-effect-out,
.item-center .ss-achievement {
  text-align: center;
}

.item-left .fs-effect-out,
.item-left .ss-achievement {
  text-align: left;
}

.item-righgt .fs-effect-out,
.item-righgt .ss-achievement {
  text-align: right;
}

.fs-hiu-effect,
.ss-achievement-inner {
  width: 295px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.fs-round-img,
.ss-round-img {
  border-radius: 50%;
  background-image: -moz-linear-gradient( -90deg, rgb(255, 213, 0) 11%, rgb(250, 166, 26) 45%, rgb(222, 139, 0) 75%, rgb(179, 112, 0) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(255, 213, 0) 11%, rgb(250, 166, 26) 45%, rgb(222, 139, 0) 75%, rgb(179, 112, 0) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(255, 213, 0) 11%, rgb(250, 166, 26) 45%, rgb(222, 139, 0) 75%, rgb(179, 112, 0) 100%);
  left: 433px;
  width: 295px;
  height: 295px;
  padding: 8px;
  display: inline-block;
}

.ss-achievement-text {
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #363636;
  text-align: center;
}

section#section3 {
  background: url(../images/bg3.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

section#section3 h2.section-title {
  padding-top: 60px;
  padding-bottom: 110px;
  font-size: 50px;
  color: #000000;
}


/*  место под блок 3  */

.ts-component{
    position: relative;
      font-family: 'Roboto', sans-serif;
      color: #534741;
      min-height: 183px;
}
.component-title{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.c-left .ts-component-text {
left: 35px;
    width: 270px;
    position: relative;
    margin-top: 10px;
    padding: 3px;
    border-right: 1px solid #aea388;
    border-top: 1px solid #aea388;
    transform: skew(45deg);
}

.c-left .ts-component-text p {
    width: 270px;
    position: relative;
    transform: skew(-45deg);
    text-align: center;
    margin-left: -86px;
       padding: 12px 0px 0 0px;
    left: 34px;
}
.c-left .ts-component-text:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #dfc993;
    border-radius: 50%;
        transform: skew(-45deg);
right: -10px;
bottom: -10px;
border:4px solid #9d9580;
}

.c-right .ts-component-text {
    right: 35px;
    width: 270px;
    position: relative;
    margin-top: 10px;
    padding: 3px;
    border-left: 1px solid #aea388;
    border-top: 1px solid #aea388;
    transform: skew(-45deg);
}

.c-right .ts-component-text p {
    width: 270px;
    position: relative;
    transform: skew(45deg);
    text-align: center;
    margin-right: -86px;
    padding: 15px 0px 11px 0px;
    right: -34px;
}
.c-right .ts-component-text:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #dfc993;
    border-radius: 50%;
        transform: skew(45deg);
left: -10px;
bottom: -10px;
border:4px solid #9d9580;
}
.c-right .component-title{
    position: relative;
    right: -34px;
}


.ts-component-img {
    text-align: center;
}
.component-img img{
    position: absolute;
}
.component-img.com1 img{
    height: 68px;
    bottom: -12px;
    right: -189px;
}
.component-img.com2 img{
    height: 75px;
    bottom: 16px;
    right: -142px;
}
.component-img.com3 img{
    height: 98px;
    bottom: -14px;
    right: -168px;
}
.component-img.com4 img{
    height: 103px;
    bottom: -26px;
    left: -155px;
}
.component-img.com5 img{
    height: 103px;
    bottom: -26px;
    left: -122px;
}
.component-img.com6 img{
    height: 77px;
    bottom: -28px;
    left: -126px;
}
.ts-component-img img{
        padding-top: 30px;
}
section#section3 .cta-button{
    text-align: center;
    padding: 0;
}
section#section3 .cta-button a{
    position: relative;
    top:-100px;
}

/*    end             */


section#section4 {
  background: #efe5cb;
  padding-top: 60px;
  padding-bottom: 90px;
}

section#section4 h2.section-title {
  padding-bottom: 15px;
}

section#section4 h3.section-sub-title {
  color: #534741;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.fs-effect-out {
  padding-top: 86px;
}

.fs-hiu-effect-text {
  display: inline-block;
  padding-top: 25px;
  width: 250px;
  color: #534741;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}

.fs-efect-numb {
  position: absolute;
  background: #fff;
  color: #000;
  font-family:PlayfairBlold;

  font-weight: 900;
  font-size: 60px;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  box-shadow: 0px 6px 15px 0px rgba(153, 134, 117, 0.45);
  z-index: 10;
  text-align: center;
  right: 0;
  top: -5px;
}

section#section5 {
  background: url(../images/bg5.png);
  padding-top: 50px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section#section5 h2.section-title {
  padding-bottom: 50px;
}

.fis-text {
  font-size: 16px;
  color: #707070;
  font-family: 'Roboto', sans-serif;
  line-height: 1.375;
}

.fis-text p {
  padding-bottom: 16px;
}

.fis-right-img {
  position: absolute;
  top: -228px;
  z-index: 2;
  overflow: hidden;
    height: auto;
  right: 0;
}

section#section5 .icons {
  text-align: center;
}

section#section6 {
  background: url(../images/bg6.png);
  padding-top: 65px;
  padding-bottom: 125px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 555555;
}

section#section6 h2.section-title {
  font-size: 50px;
  padding-bottom: 80px;
}
.sxs-reviews.item-slider.row {
    text-align: center;
}
.sxs-reviev {
  display: inline-block;
  border-width: 1.5px;
  border-color: rgb(209, 211, 212);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 362px;
  margin-right: 25px;
  vertical-align: top;
  padding: 15px 10px 8px 10px;
  border: 1.5pt solid #d1d3d4;
}
.sxs-reviev:last-child{
    margin:0;
}

.sxs-buyer-name,
.sxs-reviev-time {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.sxs-reviev-time {
  float: right;
  font-size: 14px;
  color: #737f83;
  line-height: 33.22px;
}

.sxs-buyer-name {
  float: left;
  font-size: 20px;
  line-height: 33.22px;
  font-weight: 500;
  color: #231f20;
}

.sxs-reviev-text {
  display: inline-block;
  width: 100%;
  background-color: #ffe97f;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
  position: relative;
}

.sxs-reviev-text:after {
  position: absolute;
  content: "";
  border: 12px solid transparent;
  border-top: 4px solid #ffe97f;
  border-right: 25px solid #ffe97f;
  right: 15px;
  bottom: -12px;
}

.sxs-reviev-text p {
  padding: 15px 10px 25px 10px;
  color: #231f20;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
}

footer {
    position: relative;


  padding-bottom: 125px;

}
footer:before{
        background: #2c202c;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
z-index: -1;
}
footer:after{
   background-image: url(../images/bg7.png);
   background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 700px ;
        background-color: #03031d;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height:700px;
    width: 100%;
z-index: -1;
}


footer h2.section-title {
  padding-top: 35px;
  color: #fff;
  font-size: 50px;
  line-height: 1.2;
  padding-left: 25px;
  margin-bottom: 100px;
}

.svs-product {
  padding-left: 25px;
  margin-top: -20px;
}

.svs-form {
  width: 290px;
  background-color: #ffffff;
  padding-top: 20px;
}

footer .fs-actions-text {
  color: #7d7d7d;
  text-align: right;
}

footer .fs-numbers p {
  box-shadow: 0px 1px 3px 0px rgba(194, 194, 194, 0.75);
}

.svs-actions {
  margin-bottom: 30px;
  display: block;
}

.svs-actions-on {
  display: inline-block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.old-price,
.new-price {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  height: 80px;
  padding-top: 8px;
  font-size: 14px;
}

.old-price {
  background-color: #efe5cb;
  color: #c6ad6e;
}

.new-price {
  background-color: #dfc993;
  color: #000;
}

.old-price span,
.new-price span {
  display: block;
  font-size: 36px;
  padding-top: 8px;
}

.old-price span {
  position: relative;
  font-weight: 300;
}

.old-price span:before {
  position: absolute;
  content: "";
  width: 86px;
  left: 20%;
  top: 65%;
  margin: 0 auto;
  height: 2px;
  background: #c6ad6e;
}

.new-price span {
  font-weight: bold;
  text-shadow: 0px 1px 5px rgba(142, 31, 31, 0.3);
}

form#form1 {
  margin-top: 35px;
  padding: 0px 20px;
  font-family: 'Roboto', sans-serif;
}

form#form1 label.inp_label {
  font-size: 14px;
  color: #c2c2c2;
  padding-left: 5px;
}

form#form1 input:not([type="submit"]) {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  padding: 8px 5px;
}

form#form1 input:not([type="submit"]):focus {
  border-bottom: 1px solid #c6ad6e;
}
.order-button{
    text-align: center;
}
.order-button input[type="submit"]{
    width: 245px;
    color: #f1f2f2;
  font-family: PlayfairBlold;
  font-weight: 900;
  height: 60px;
  display: inline-block;
  padding: 10px 0px;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #ec8a00;
  background-image: -moz-linear-gradient( 90deg, rgb(255, 110, 2) 0%, rgb(255, 187, 2) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255, 110, 2) 0%, rgb(255, 187, 2) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255, 110, 2) 0%, rgb(255, 187, 2) 100%);
  -moz-transform: matrix( 0.92463092463092, 0, 0, 0.92830997805749, 0, 0);
  -webkit-transform: matrix( 0.92463092463092, 0, 0, 0.92830997805749, 0, 0);
  -ms-transform: matrix( 0.92463092463092, 0, 0, 0.92830997805749, 0, 0);
  border: 3px solid #e5e5e5;
  border-radius: 30px;
  outline: none;
}
.security{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}
.security span{
    padding-top: 6px;
    background: url(../images/svs-lock.png) no-repeat;
    background-size: 15px 20px;
    padding-left: 27px;
    color: #b7b7b7;
    font-size: 14px;
     font-family: 'Roboto', sans-serif;
}
.awards {
    display: inline-block;
    width: 100%;
    height: 700px;
    text-align: center;
}
.award {
    display: inline-block;
    width: 50%;
    position: relative;
    height: 100%;
    float: left;
    vertical-align: bottom;
}
.award img{
position: absolute;
    top: 90%;
      right: -40px;
}
.awards .award:first-child img{
    right: -102px;
}
.foter-text{
    text-align: center;
    color: #efe5cb;
         font-family: 'Roboto', sans-serif;
         font-size: 16px;
         line-height: 18px;
         padding: 0 30px 0px 30px;
         font-weight: 300;
}

.foter-text a{
    color:#6dcff6;
    text-decoration: underline;
}
@media screen and (min-width: 992px) and (max-width: 1200px){
  .sxs-reviev{
    min-width: 305px;
    margin-right: 5px !important;
    min-height: 500px;
  }
  .sxs-buyer-name{
    font-size: 17px;
  }
  .sxs-reviev-text{
    min-height: 184px;
  }

}
