@font-face {
    font-family: 'CenturyGothic';
    src: url("../../fonts/GOTHIC.TTF.eot?") format("eot"), url("../../fonts/CenturyGothic.woff") format("woff"), url("../../fonts/CenturyGothic.ttf") format("truetype"), url("../../fonts/CenturyGothic.svg#CenturyGothic") format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url("../../fonts/GOTHICB.TTF.eot?") format("eot"), url("../../fonts/CenturyGothic-Bold.woff") format("woff"), url("../../fonts/CenturyGothic-Bold.ttf") format("truetype"), url("../../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold") format("svg");
    font-weight: 700;
    font-style: normal
}
.bold {
    font-family: 'CenturyGothic-Bold', sans-serif
}
.regular {
    font-family: 'CenturyGothic', sans-serif
}
.relative {
    position: relative
}
.specific {
    font-size: 14px;
    margin: 5px 0;
    text-align: right;
    opacity: 1
}
.specific_top {
    font-size: 14px;
    max-width: 280px;
    margin: 5px 0
}
img {
    max-width: 100%;
    height: auto
}
body {
    font-family: 'CenturyGothic', sans-serif;
    min-width: 320px;
    font-size: 16px;
    color: #010202
}
header {
    padding-top: 60px;
    background: url("../../img/header_bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
header h5 {
    color: #ffd388;
    font-size: 24px
}
header h1 {
    color: #010202;
    font-size: 60px;
    text-transform: uppercase
}
header .price_container {
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0
}
header .price_container .dashed_border {
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px dashed #817a81;
    padding: 7px
}
header .price_container .dashed_border .solid_border {
    border: 1px solid #817a81;
    border-radius: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px
}
header .price_container .dashed_border .solid_border .price {
    line-height: 125px;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 48px;
    border-radius: 50%;
    background: #131313
}
header .price_container .dashed_border .solid_border .price p {
    background: linear-gradient(180deg, #fff 0%, #a18159 40%, #c39a6a 41%, #fffed1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: #ddcb83;
    display: inline-block
}
header .price_container .dashed_border .solid_border .price p span {
    font-size: 55px
}
header .price_container .dashed_border .solid_border .price p span.regular {
    font-size: 45px
}
header .timer {
    margin-top: 40px;
    padding: 0 15px;
    display: inline-block;
    background: url(../../img/gold_strip.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center
}
header .timer .timer_description {
    font-size: 18px;
    display: inline-block;
    padding-left: 10px;
    position: relative;
    bottom: 4px
}
header .timer .band {
    display: inline-block;
    width: 3px;
    height: 22px;
    background: #010202;
    margin: 0 8px 0 15px;
    position: relative;
    top: 2px
}
header .timer .clock {
    display: inline-block;
    font-size: 24px
}
header .timer .hours,
header .timer .minutes,
header .timer .seconds {
    display: inline-block;
    padding: 0 8px
}
header .timer .hours,
header .timer .minutes {
    position: relative
}
header .timer .hours:after,
header .timer .minutes:after {
    content: ':';
    display: inline-block;
    position: absolute;
    font-weight: 700;
    top: 3px;
    right: -11px;
    height: 30px;
    width: 14px;
    line-height: 26px;
    color: #010202;
    text-align: center
}
header .btn_wrap {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: relative
}
header .btn_wrap .btn {
    padding: 20px 120px;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 18px;
    color: #ddcb83;
    overflow: hidden;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    display: inline-block;
    position: relative;
    background-image: -webkit-linear-gradient(180deg, #38383a 0%, #000 90%, #222223 95%, #3c3c3f 100%);
    background-image: -moz-linear-gradient(180deg, #38383a 0%, #000 90%, #222223 95%, #3c3c3f 100%);
    background-image: -o-linear-gradient(180deg, #38383a 0%, #000 90%, #222223 95%, #3c3c3f 100%);
    background-image: -ms-linear-gradient(180deg, #38383a 0%, #000 90%, #222223 95%, #3c3c3f 100%);
    background-image: linear-gradient(180deg, #38383a 0%, #000 90%, #222223 95%, #3c3c3f 100%)
}
header .btn_wrap .btn:hover {
    text-decoration: none
}
header .btn_wrap .btn span {
    z-index: 999;
    position: relative
}
header .btn_wrap .btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -2em;
    width: 140%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) no-repeat -3em 0%;
    background-size: 4em 100%;
    transform: skewX(-50deg)
}
header .btn_wrap .btn:hover:after {
    transition: 1.7s linear;
    background-position: 100% 0%
}
header .btn_wrap:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 80%;
    margin: auto;
    z-index: 1;
    height: 6px;
    border-radius: 50%;
    margin-left: 10%;
    background-image: -webkit-radial-gradient(farthest-corner at center center, #6e6e6f, #242425);
    background-image: -moz-radial-gradient(farthest-corner at center center, #6e6e6f, #242425);
    background-image: -o-radial-gradient(farthest-corner at center center, #6e6e6f, #242425);
    background-image: -ms-radial-gradient(farthest-corner at center center, #6e6e6f, #242425);
    background-image: radial-gradient(farthest-corner at center center, #6e6e6f, #242425)
}
header .header_footer {
    background: #131313;
    color: #ba9463;
    text-transform: uppercase;
    padding: 20px 0;
    margin-top: 45px
}
header .header_footer p {
    margin-bottom: 0
}
#advantages {
    padding: 55px 0 105px;
    background: url("../../img/advantages_bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
#advantages .arr {
    position: absolute;
    top: 40%;
    right: -30px
}
#advantages .small_arr {
    right: -27px
}
#advantages .medium_arr {
    right: -28px
}
#advantages .table {
    display: table;
    margin: 20px auto 0
}
#advantages .advantage_description {
    background: url(../../img/black_strip.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 14px;
    color: #f8e3b9;
    text-transform: uppercase;
    display: table-row;
    text-align: center;
    width: 260px;
    height: 85px
}
#advantages .advantage_description .text {
    display: table-cell;
    vertical-align: middle;
    padding: 0 50px
}
#components {
    padding: 60px 0 50px;
    background-image: -webkit-linear-gradient(180deg, #131313 0%, #131313 80%, #1b1814 85%, #221c14 100%);
    background-image: -moz-linear-gradient(180deg, #131313 0%, #131313 80%, #1b1814 85%, #221c14 100%);
    background-image: -o-linear-gradient(180deg, #131313 0%, #131313 80%, #1b1814 85%, #221c14 100%);
    background-image: -ms-linear-gradient(180deg, #131313 0%, #131313 80%, #1b1814 85%, #221c14 100%);
    background-image: linear-gradient(180deg, #131313 0%, #131313 80%, #1b1814 85%, #221c14 100%)
}
#components .graph {
    margin: 135px auto 0
}
#components h5 {
    font-size: 36px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: #ddcb83;
    background-image: -webkit-linear-gradient(180deg, #fdca89 0%, #ab895e 100%);
    background-image: -moz-linear-gradient(180deg, #fdca89 0%, #ab895e 100%);
    background-image: -o-linear-gradient(180deg, #fdca89 0%, #ab895e 100%);
    background-image: -ms-linear-gradient(180deg, #fdca89 0%, #ab895e 100%);
    background-image: linear-gradient(180deg, #fdca89 0%, #ab895e 100%)
}
#components h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 15px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: #ddcb83;
    background-image: -webkit-linear-gradient(180deg, #cfad7a 0%, #feebc2 100%);
    background-image: -moz-linear-gradient(180deg, #cfad7a 0%, #feebc2 100%);
    background-image: -o-linear-gradient(180deg, #cfad7a 0%, #feebc2 100%);
    background-image: -ms-linear-gradient(180deg, #cfad7a 0%, #feebc2 100%);
    background-image: linear-gradient(180deg, #cfad7a 0%, #feebc2 100%)
}
#components .component {
    color: #ffffff
}
#components .component img {
    margin-top: 40px
}
#components .component img.bottom_img {
    margin-top: 115px
}
#components .component img.second {
    margin-top: 90px
}
#components .component .component_name {
    font-size: 48px;
    margin-top: 40px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: #ddcb83;
    background-image: -webkit-linear-gradient(180deg, #fffaca 0%, #a5885b 100%);
    background-image: -moz-linear-gradient(180deg, #fffaca 0%, #a5885b 100%);
    background-image: -o-linear-gradient(180deg, #fffaca 0%, #a5885b 100%);
    background-image: -ms-linear-gradient(180deg, #fffaca 0%, #a5885b 100%);
    background-image: linear-gradient(180deg, #fffaca 0%, #a5885b 100%)
}
#components .component .component_description {
    margin-top: 45px;
    color: #f8f9fe
}
#components .left_col {
    text-align: right
}
#components .right_col {
    text-align: left
}
#components .buy_button {
    margin-top: 50px;
    padding: 15px 132px;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 18px;
    color: #131313;
    overflow: hidden;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    display: inline-block;
    position: relative;
    background-image: -webkit-linear-gradient(180deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    background-image: -moz-linear-gradient(180deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    background-image: -o-linear-gradient(180deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    background-image: -ms-linear-gradient(180deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    background-image: linear-gradient(180deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%)
}
#components .buy_button:hover {
    text-decoration: none
}
#components .buy_button:after {
    content: "";
    position: absolute;
    top: 0;
    left: -2em;
    width: 140%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) no-repeat -3em 0%;
    background-size: 4em 100%;
    transform: skewX(-50deg)
}
#components .buy_button:hover:after {
    transition: 1.6s linear;
    background-position: 100% 0%
}
#components .timer {
    margin-top: 15em;
    display: inline-block;
    color: #cdae81;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2c2c2b
}
#components .timer .timer_description {
    font-size: 18px;
    position: relative;
    display: inline-block;
    bottom: 6px;
    padding-left: 10px;
    opacity: .5
}
#components .timer .band {
    display: inline-block;
    width: 1px;
    height: 30px;
    background: #2c2c2b;
    margin: 0 8px 0 15px;
    position: relative;
    top: 3px
}
#components .timer .clock {
    display: inline-block;
    font-size: 30px;
    opacity: .5
}
#components .timer .hours,
#components .timer .minutes,
#components .timer .seconds {
    display: inline-block;
    padding: 0 8px
}
#components .timer .hours,
#components .timer .minutes {
    position: relative
}
#components .timer .hours:after,
#components .timer .minutes:after {
    content: ':';
    display: inline-block;
    position: absolute;
    top: 7px;
    right: -11px;
    height: 30px;
    width: 14px;
    line-height: 26px;
    color: #cdae81;
    text-align: center
}
#instruction {
    padding: 70px 0 130px;
    background: url("../../img/instruction_bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
#instruction .header {
    background: url(../../img/long_black_strip.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 60% 100%;
    overflow: hidden
}
#instruction .header h5 {
    font-size: 36px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: #ddcb83
}
#instruction .header h5.regular {
    background-image: -webkit-linear-gradient(180deg, #fffffc 0%, #e9dcb0 100%);
    background-image: -moz-linear-gradient(180deg, #fffffc 0%, #e9dcb0 100%);
    background-image: -o-linear-gradient(180deg, #fffffc 0%, #e9dcb0 100%);
    background-image: -ms-linear-gradient(180deg, #fffffc 0%, #e9dcb0 100%);
    background-image: linear-gradient(180deg, #fffffc 0%, #e9dcb0 100%)
}
#instruction .header h5.bold {
    background-image: -webkit-linear-gradient(180deg, #dab68a 0%, #cba77d 30%, #a5835d 35%, #fcef9a 100%);
    background-image: -moz-linear-gradient(180deg, #dab68a 0%, #cba77d 30%, #a5835d 35%, #fcef9a 100%);
    background-image: -o-linear-gradient(180deg, #dab68a 0%, #cba77d 30%, #a5835d 35%, #fcef9a 100%);
    background-image: -ms-linear-gradient(180deg, #dab68a 0%, #cba77d 30%, #a5835d 35%, #fcef9a 100%);
    background-image: linear-gradient(180deg, #dab68a 0%, #cba77d 30%, #a5835d 35%, #fcef9a 100%)
}
#instruction ul {
    margin-top: 40px
}
#instruction ul li {
    margin-bottom: 20px;
    color: #131313
}
#instruction ul li .step {
    position: relative;
    font-size: 20px;
    line-height: 100px;
    display: inline-block;
    margin-top: 10px;
    z-index: 999;
    color: #ffffff
}
#instruction ul li .step:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -2px;
    left: 0;
    font-size: 70px;
    color: #131313
}
#instruction ul li .step_one:before {
    content: '1'
}
#instruction ul li .step_two:before {
    content: '2'
}
#instruction ul li .step_three:before {
    content: '3'
}
#instruction ul li .step_description {
    margin-top: 20px
}
.color_band {
    font-size: 36px;
    position: relative
}
.color_band:after {
    content: '';
    width: 80px;
    height: 8px;
    background: #fde9c0;
    position: absolute;
    left: 0;
    bottom: -30px
}
#damage_to_skin {
    padding: 50px 0
}
#damage_to_skin h5 {
    margin-bottom: 100px
}
#damage_to_skin figure {
    text-align: center;
    padding-bottom: 30px
}
#damage_to_skin figure img {
    margin-bottom: 30px;
    width: 160px;
    height: 180px
}
#profit_to_skin {
    background: url("../../img/steps_bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    color: #fff
}
#profit_to_skin .color_band:after {
    background-color: #c99763
}
#profit_to_skin h5 {
    margin-bottom: 100px
}
#profit_to_skin figure {
    text-align: center;
    padding-bottom: 30px
}
#profit_to_skin figure img {
    margin-bottom: 30px
}
.width {
    width: 990px;
    margin: 0 auto
}
#doctor {
    padding: 50px 0;
    background-color: #fff
}
.for_doctor.clearfix {
    margin-bottom: 80px
}
#doctor .clearfix.list_clear {
    margin-bottom: 0
}
#doctor .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px
}
#doctor .left-block {
    width: 480px;
    float: left;
    padding: 65px 0 0
}
#doctor .left-block .name {
    font-size: 18px;
    font-weight: 700;
    padding: 35px 0 0
}
#doctor .left-block .name-b {
    font-size: 16px;
    padding: 5px 0 0;
    color: #777
}
#doctor .left-block .status {
    font-size: 18px;
    color: #777;
    font-weight: 300;
    line-height: 27px;
    width: 300px;
    padding: 20px 0 40px
}
#doctor .left-block .message {
    line-height: 24px;
    font-size: 15px;
    font-weight: 300
}
#doctor .right-block {
    width: 500px;
    float: right;
    padding: 100px 0 0
}
#doctor .right-block .item {
    float: left;
    margin: 0
}
#doctor .right-block .item .item1 {
    width: 326px
}
#doctor .right-block .item .item2 {
    width: 168px
}
#doctor .right-block .item div {
    padding: 23px 8px 0;
    line-height: 21px;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px
}
#doctor .right-block ul {
    padding: 114px 0 0 20px
}
#doctor .right-block ul li {
    line-height: 24px;
    font-size: 15px;
    font-weight: 300;
    list-style-type: none;
    padding: 0 0 25px;
    color: #fbcf76
}
#doctor .right-block ul li span {
    color: #050505
}
@media screen and (max-width: 989px) and (min-width: 640px) {
    .width {
        width: 574px;
        padding: 0 33px
    }
    #doctor {
        padding: 0 0 30px
    }
    #doctor .title br {
        display: none
    }
    #doctor .left-block {
        width: auto;
        float: none;
        padding: 55px 0 0
    }
    #doctor .left-block .name {
        padding: 35px 0 0;
        text-align: center
    }
    #doctor .left-block .name-b {
        text-align: center
    }
    #doctor .left-block .status {
        text-align: center;
        width: auto;
        padding: 20px 80px 35px
    }
    #doctor .right-block {
        width: auto;
        float: none;
        padding: 60px 0 0
    }
    #doctor .right-block .item {
        float: left;
        margin: 0
    }
    #doctor .right-block .item .item1 {
        width: 326px
    }
    #doctor .right-block .item .item2 {
        width: 168px
    }
    #doctor .right-block .item div {
        padding: 23px 10px 0
    }
    #doctor .right-block ul {
        padding: 45px 0 0 20px;
        overflow: hidden
    }
    #doctor .right-block ul li {
        padding: 0 0 25px;
        float: left
    }
    #doctor .right-block ul li:first-child {
        padding-right: 0
    }
}
@media screen and (max-width: 640px) {
    .width {
        width: 100%;
        padding: 0 15px
    }
    .for_doctor.clearfix {
        margin-bottom: 40px
    }
    #doctor {
        padding: 0 0 30px
    }
    #doctor .title br {
        display: none
    }
    #doctor .left-block {
        width: auto;
        float: none;
        padding: 50px 0 0
    }
    #doctor .left-block .name {
        font-size: 22px;
        font-weight: 700;
        padding: 20px 0 0;
        text-align: center
    }
    #doctor .left-block .name-b {
        text-align: center
    }
    #doctor .left-block .status {
        font-size: 17px;
        line-height: 27px;
        width: auto;
        padding: 0 0 25px;
        text-align: center
    }
    #doctor .left-block .message {
        line-height: 24px;
        font-size: 17px
    }
    #doctor .right-block {
        width: auto;
        float: none;
        padding: 60px 0 0
    }
    #doctor .right-block .item {
        float: none;
        margin: 0 auto;
        text-align: center;
        padding: 0 0 50px
    }
    #doctor .right-block .item .item1 {
        width: auto
    }
    #doctor .right-block .item .item1 img {
        width: auto
    }
    #doctor .right-block .item .item2 {
        width: auto
    }
    #doctor .right-block ul {
        padding: 0 0 0 0px;
        overflow: hidden
    }
    #doctor .right-block ul li {
        line-height: 24px;
        font-size: 17px;
        padding: 0 0 25px
    }
}
#steps {
    padding: 70px 0;
    background: url("../../img/steps_bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
#steps h5 {
    font-size: 36px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: #ddcb83;
    background-image: -webkit-linear-gradient(180deg, #fdca89 0%, #ab895e 100%);
    background-image: -moz-linear-gradient(180deg, #fdca89 0%, #ab895e 100%);
    background-image: -o-linear-gradient(180deg, #fdca89 0%, #ab895e 100%);
    background-image: -ms-linear-gradient(180deg, #fdca89 0%, #ab895e 100%);
    background-image: linear-gradient(180deg, #fdca89 0%, #ab895e 100%)
}
#steps h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 15px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: #ddcb83;
    background-image: -webkit-linear-gradient(180deg, #cfad7a 0%, #feebc2 100%);
    background-image: -moz-linear-gradient(180deg, #cfad7a 0%, #feebc2 100%);
    background-image: -o-linear-gradient(180deg, #cfad7a 0%, #feebc2 100%);
    background-image: -ms-linear-gradient(180deg, #cfad7a 0%, #feebc2 100%);
    background-image: linear-gradient(180deg, #cfad7a 0%, #feebc2 100%)
}
#steps figure {
    margin-top: 40px
}
#steps figcaption {
    color: #cdae81;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 0 5px
}
#user_reviews {
    padding: 60px 0 90px
}
#user_reviews h1,
#user_reviews h5 {
    text-align: right;
    color: #141414;
    text-transform: uppercase
}
#user_reviews h1 {
    margin-bottom: 70px;
    font-size: 60px;
    margin-top: 0
}
#user_reviews h5 {
    font-size: 36px;
    margin-bottom: 10px
}
#user_reviews .review_wrap {
    border-left: 2px solid #d5d5d5;
    padding-bottom: 15px
}
#user_reviews .review_wrap .img_wrap:before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 58%;
    margin-top: -20px;
    left: -11px;
    border-radius: 50%;
    background: #d5d5d5
}
#user_reviews .review_wrap .comment_wrap {
    padding: 15px;
    border-radius: 8px;
    position: relative
}
#user_reviews .review_wrap .comment_wrap:before {
    content: '';
    position: absolute;
    top: 20px;
    left: -10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #f7f9f8;
    z-index: 1;
    transform: rotate(45deg)
}
#user_reviews .name {
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: block;
    position: relative
}
#user_reviews .name:after {
    content: '';
    display: block;
    width: 430px;
    height: 2px;
    background: #303030;
    position: absolute;
    bottom: 0;
    left: 0
}
#user_reviews .comment {
    display: block;
    margin-top: 15px;
    font-size: 14px
}
#user_reviews .review_wrap .comment_wrap.first {
    background: #fce8bf
}
#user_reviews .review_wrap .comment_wrap.first:before {
    background: #fce8bf
}
#user_reviews .review_wrap .comment_wrap.second {
    background: #ebd4a9
}
#user_reviews .review_wrap .comment_wrap.second:before {
    background: #ebd4a9
}
#user_reviews .review_wrap .comment_wrap.last {
    background: #dbc094
}
#user_reviews .review_wrap .comment_wrap.last:before {
    background: #dbc094
}
footer {
    padding: 85px 0 90px;
    background: url("../../img/footer_bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}
footer br {
    display: none
}
footer h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 60px
}
footer h1.bold {
    margin-top: 10px
}
footer .footer_product {
    position: relative;
    top: 18px;
    left: 50px
}
footer .timer {
    margin-top: 10px
}
footer .timer .timer_description {
    position: relative;
    top: -5px;
    color: #0e0e0e;
    font-size: 18px;
    display: inline-block;
    margin-right: 5px
}
footer .timer .main {
    color: #ffffff;
    display: inline-block
}
footer .timer .main .dott {
    color: #252525;
    font-size: 30px;
    position: relative;
    left: -1px;
    bottom: 2px
}
footer .timer .main .hours,
footer .timer .main .minutes,
footer .timer .main .seconds {
    position: relative;
    z-index: 100;
    font-size: 30px;
    color: #ffffff;
    background: transparent
}
footer .timer .main .hours:before,
footer .timer .main .minutes:before,
footer .timer .main .seconds:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -4px;
    width: 40px;
    height: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: -webkit-linear-gradient(180deg, #1d1c1a 0%, #645c4d 100%);
    background-image: -moz-linear-gradient(180deg, #1d1c1a 0%, #645c4d 100%);
    background-image: -o-linear-gradient(180deg, #1d1c1a 0%, #645c4d 100%);
    background-image: -ms-linear-gradient(180deg, #1d1c1a 0%, #645c4d 100%);
    background-image: linear-gradient(180deg, #1d1c1a 0%, #645c4d 100%);
    z-index: -1
}
footer .timer .main .hours:after,
footer .timer .main .minutes:after,
footer .timer .main .seconds:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: -4px;
    width: 40px;
    height: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: -webkit-linear-gradient(180deg, #756a58 0%, #bcab8a 100%);
    background-image: -moz-linear-gradient(180deg, #756a58 0%, #bcab8a 100%);
    background-image: -o-linear-gradient(180deg, #756a58 0%, #bcab8a 100%);
    background-image: -ms-linear-gradient(180deg, #756a58 0%, #bcab8a 100%);
    background-image: linear-gradient(180deg, #756a58 0%, #bcab8a 100%);
    z-index: -1
}
footer .content_wrap {
    margin-top: 60px;
    padding: 30px 60px;
    background: url("../../img/form_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px
}
footer .price_container {
    float: left;
    text-align: center;
    color: #ffffff
}
footer .price_container .dashed_border {
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px dashed #817a81;
    padding: 7px
}
footer .price_container .dashed_border .solid_border {
    border: 1px solid #817a81;
    border-radius: 50%;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px
}
footer .price_container .dashed_border .solid_border .price {
    line-height: 125px;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 48px;
    border-radius: 50%;
    background: #131313
}
footer .price_container .dashed_border .solid_border .price p {
    background: linear-gradient(180deg, #fff 0%, #a18159 40%, #c39a6a 41%, #fffed1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: #ddcb83;
    display: inline-block
}
footer .price_container .dashed_border .solid_border .price p span {
    font-size: 65px
}
footer .price_container .dashed_border .solid_border .price p span.regular {
    font-size: 45px
}
footer .price_container .old_price {
    margin-top: 30px;
    text-align: center;
    line-height: 1.2;
    color: #b18d5e;
    position: relative
}
footer .price_container .old_price:before {
    content: '';
    width: 170px;
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 19px;
    background: #483b2b
}
footer .price_container .old_price .standart {
    display: block;
    font-size: 18px
}
footer .price_container .old_price .old,
footer .price_container .old_price .footer_currency {
    font-size: 36px;
    z-index: 999;
    position: relative
}
footer .price_container .old_price .footer_currency {
    font-size: 22px;
    top: -3px
}
footer form {
    text-align: center;
    display: inline-block;
    width: 380px;
    float: right
}
footer form .form-group {
    margin-bottom: 25px
}
footer form .form-control {
    height: 50px;
    text-align: center;
    border-radius: 36px;
    transition: all .4s;
    color: #cdae81
}
footer form .form-control::-webkit-input-placeholder {
    color: #cdae81
}
footer form .form-control::-moz-placeholder {
    color: #cdae81
}
footer form .form-control:-moz-placeholder {
    color: #cdae81
}
footer form .form-control:-ms-input-placeholder {
    color: #cdae81
}
footer form .form-control:focus {
    border-color: gold;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #a67d42
}
footer form .btn-default:hover {
    color: #131313
}
footer form .btn {
    padding: 12.5px 90px;
    color: #ffffff;
    margin-top: 60px;
    font-size: 20px;
    width: 100%;
    background: #db9e36;
    text-decoration: none;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 18px;
    color: #131313;
    overflow: hidden;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    display: inline-block;
    position: relative;
    background-image: -webkit-linear-gradient(0deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    background-image: -moz-linear-gradient(0deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    background-image: -o-linear-gradient(0deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    background-image: -ms-linear-gradient(0deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    background-image: linear-gradient(0deg, #fde9c0 0%, #ba9362 87%, #dbac72 97%, #ffc880 100%);
    border: 0;
    outline: 0
}
footer form .btn:hover {
    text-decoration: none
}
footer form .btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -2em;
    width: 140%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) no-repeat -3em 0%;
    background-size: 4em 100%;
    transform: skewX(-50deg)
}
footer form .btn:hover:after {
    transition: 1.6s linear;
    background-position: 100% 0%
}
footer form .btn:focus {
    outline: 0
}
footer form .btn span {
    display: inline-block;
    position: relative;
    z-index: 999
}
@media only screen and (max-width: 1200px) {
    header h5 {
        font-size: 22px
    }
    header h1 {
        font-size: 52px
    }
    header .price_container {
        left: 2em;
        bottom: -5px
    }
    #advantages .advantage_description .text {
        padding: 0 30px
    }
    #instruction .header {
        background-size: 70% 100%
    }
    #instruction img {
        display: inline-block;
        margin-top: 5px
    }
    #doc_comment h1 {
        font-size: 52px
    }
    #doc_comment h5 {
        margin-top: 15px
    }
    #doc_comment .btn_wrap {
        text-align: center
    }
    #doc_comment .timer .timer_description {
        margin-top: 5px
    }
    #doc_comment .timer .band {
        display: none !important
    }
    #steps figcaption {
        padding: 0
    }
    footer h1 {
        font-size: 48px
    }
    footer form {
        width: 330px
    }
    footer .footer_product {
        top: 12px;
        left: -25px
    }
}
@media only screen and (max-width: 992px) {
    header h5 {
        font-size: 20px
    }
    header h1 {
        font-size: 44px
    }
    header .price_container {
        left: -1.5em
    }
    header .header_footer p {
        padding: 0 30px
    }
    #advantages .arr {
        max-width: 19%
    }
    #advantages .advantage_description {
        font-size: 12px
    }
    #advantages .advantage_description .text {
        padding: 0 13px
    }
    #components .component .component_name {
        font-size: 36px
    }
    #components .timer .band {
        display: none
    }
    #components .timer .timer_description {
        bottom: 0
    }
    #components .buy_button {
        padding: 15px 97px
    }
    #instruction .header {
        background-size: 90% 100%
    }
    #instruction img {
        margin-top: 20px
    }
    #instruction ul li .step {
        margin-top: 20px
    }
    #doc_comment h1 {
        font-size: 40px
    }
    #doc_comment h5 {
        margin-top: 20px;
        font-size: 30px
    }
    #doc_comment .timer .btn_wrap {
        text-align: center
    }
    #doc_comment .timer .timer_description {
        margin-top: 5px
    }
    #doc_comment .timer .band {
        display: none !important
    }
    #doc_comment .btn_wrap .buy_button {
        padding: 15px 65px
    }
    #steps figcaption {
        font-size: 12px
    }
    #user_reviews .review_wrap .comment_wrap:before {
        width: 13px;
        height: 13px;
        left: -5px
    }
    footer h1 {
        font-size: 36px
    }
    footer .timer_wrap {
        text-align: center
    }
    footer .timer {
        margin-top: -15px
    }
    footer .content_wrap {
        padding: 20px 40px 35px
    }
    footer .price_container .dashed_border {
        width: 120px;
        height: 120px
    }
    footer .price_container .dashed_border .solid_border .price {
        font-size: 20px;
        line-height: 80px
    }
    footer .price_container .dashed_border .solid_border .price p span {
        font-size: 40px
    }
    footer .price_container .dashed_border .solid_border .price p span.regular {
        font-size: 18px
    }
    footer .price_container .old_price {
        margin-top: 70px
    }
    footer .price_container .old_price:before {
        width: 120px
    }
    footer .price_container .old_price .standart {
        max-width: 120px
    }
    footer form {
        width: 275px
    }
    footer .footer_product {
        top: 60px;
        left: -65px
    }
}
@media only screen and (max-width: 767px) {
    .specific_top {
        max-width: none
    }
    header {
        background: #9a9091
    }
    header h1,
    header h5 {
        text-align: center
    }
    header h5 {
        margin: 0
    }
    header h1 {
        margin-top: 10px
    }
    header figure {
        text-align: center !important
    }
    header figure .price_container {
        left: 40%;
        bottom: -5px;
        margin-left: -85px
    }
    header .timer {
        display: block;
        max-width: 400px;
        margin: 25px auto 0
    }
    #advantages .table {
        max-width: 400px;
        margin: 20px auto
    }
    #advantages .advantage_description .text {
        font-size: 14px
    }
    #components h1 {
        text-align: left;
        font-size: 34px;
        margin-top: 5px
    }
    #components h5 {
        font-size: 26px;
        margin-bottom: 0
    }
    #components h1,
    #components h5,
    #components .component .component_description {
        padding: 0 20px
    }
    #components .component .component_description {
        margin-top: 30px
    }
    #components .left_col,
    #components .right_col {
        text-align: center
    }
    #components .right_col>.text-left {
        text-align: center !important
    }
    #components .component img {
        margin: 40px auto 0
    }
    #components .timer {
        margin-top: 5em
    }
    #components .timer .timer_description {
        bottom: 5px
    }
    #components .component img.bottom_img {
        margin-top: 40px
    }
    #components .component .component_name {
        font-size: 30px
    }
    #instruction {
        background-image: -webkit-linear-gradient(180deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        background-image: -moz-linear-gradient(180deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        background-image: -o-linear-gradient(180deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        background-image: -ms-linear-gradient(180deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        background-image: linear-gradient(180deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        padding: 70px 0 50px
    }
    #instruction .header {
        background: #000
    }
    #instruction .header h5 {
        font-size: 30px
    }
    #instruction ul li .step {
        line-height: 1;
        font-size: 14px;
        margin-top: 25px
    }
    #instruction ul li .step:before {
        top: -21px;
        font-size: 50px
    }
    #instruction ul li .step_description {
        margin-top: 19px;
        padding: 0 50px;
        text-align: center
    }
    #damage_to_skin h5,
    #profit_to_skin h5 {
        font-size: 24px
    }
    #profit_to_skin {
        background: #1a1a1a
    }
    #doc_comment {
        padding-top: 40px
    }
    #doc_comment .btn_wrap {
        text-align: center
    }
    #doc_comment .btn_wrap .buy_button {
        padding: 10px 70px
    }
    #doc_comment .timer {
        text-align: center;
        margin-top: 20px
    }
    #doc_comment .comment {
        text-align: center;
        margin-top: 40px
    }
    #doc_comment .comment img {
        margin-bottom: 30px
    }
    #doc_comment ul li {
        text-align: left;
        margin-bottom: 20px
    }
    #steps {
        padding: 40px 0
    }
    #steps h1,
    #steps h5 {
        text-align: center
    }
    #steps h5 {
        font-size: 32px
    }
    #steps h1 {
        font-size: 40px
    }
    #steps figcaption {
        font-size: 16px
    }
    #user_reviews {
        padding: 40px 0
    }
    #user_reviews h1 {
        text-align: center;
        margin-bottom: 40px
    }
    #user_reviews h5 {
        text-align: center
    }
    #user_reviews .review_wrap {
        border: 0;
        padding-bottom: 0
    }
    #user_reviews .review_wrap .img_wrap:before {
        display: none
    }
    #user_reviews .review_wrap .comment_wrap {
        margin: 20px 20px 35px 20px
    }
    #user_reviews .review_wrap .comment_wrap:before {
        width: 20px;
        height: 20px;
        margin-right: -20px;
        top: -8px;
        display: block;
        left: 48.5%
    }
    footer {
        background-image: -webkit-linear-gradient(0deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        background-image: -moz-linear-gradient(0deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        background-image: -o-linear-gradient(0deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        background-image: -ms-linear-gradient(0deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%);
        background-image: linear-gradient(0deg, #ffcc8a 0%, #ba9362 20%, #ffecc3 100%)
    }
    footer h1 {
        text-align: center
    }
    footer .timer {
        margin-top: 0;
        margin-bottom: 15px
    }
    footer .footer_product {
        position: static;
        margin-top: 30px
    }
    footer .clearfix.relative {
        text-align: center
    }
    footer .content_wrap {
        margin: 0 15px;
        position: relative;
        border-radius: 12px
    }
    footer .content_wrap .price_container {
        display: block;
        float: none;
        margin: 0 auto
    }
    footer .content_wrap .price_container .old_price {
        display: inline-block;
        margin-top: 0;
        position: relative;
        top: 23px;
        left: 10px
    }
    footer .content_wrap .price_container .dashed_border {
        display: inline-block;
        margin-top: -15px
    }
    footer .content_wrap form {
        display: block;
        float: none;
        text-align: center;
        margin: 30px auto 0
    }
    footer .content_wrap form .btn {
        margin-top: 0
    }
}
@media only screen and (max-width: 501px) {
    #user_reviews .name:after {
        position: static;
        width: 100%;
        margin-top: 10px
    }
}
@media only screen and (max-width: 480px) {
    .specific {
        margin-bottom: 20px
    }
    header {
        padding-top: 20px
    }
    header h1 {
        font-size: 30px
    }
    header h5 {
        font-size: 18px
    }
    header figure img {
        max-width: 35%
    }
    header figure .price_container {
        left: 40%;
        bottom: -1em;
        margin-left: -60px
    }
    header figure .price_container .dashed_border {
        width: 120px;
        height: 120px
    }
    header figure .price_container .dashed_border .solid_border .price {
        font-size: 20px;
        line-height: 80px
    }
    header figure .price_container .dashed_border .solid_border .price span {
        font-size: 35px
    }
    header figure .price_container .dashed_border .solid_border .price span.regular {
        font-size: 18px
    }
    header .timer .band {
        display: none
    }
    header .timer .timer_description {
        bottom: 0;
        padding-left: 0;
        display: block
    }
    header .btn_wrap .btn {
        padding: 15px 80px
    }
    #advantages {
        background: #cbab7e;
        padding: 30px 0 40px
    }
    #advantages .advantage_description .text {
        padding: 0 20px
    }
    #components {
        padding: 30px 0 40px
    }
    #components h1,
    #components h5 {
        padding: 0;
        text-align: center
    }
    #components .component .component_description {
        padding: 0 10px
    }
    #components .timer {
        margin-top: 3em;
        padding: 0 20px
    }
    #components .timer .timer_description {
        bottom: 0;
        display: block;
        padding-left: 0
    }
    #instruction {
        padding: 50px 0 20px
    }
    #instruction .header h5 {
        font-size: 24px
    }
    #instruction .header h5.regular {
        margin-bottom: 0
    }
    #instruction .header h5.bold {
        margin-top: 0
    }
    #instruction ul li .step_description {
        padding: 0
    }
    #doc_comment h1 {
        margin-top: 0
    }
    #doc_comment ul li {
        padding-left: 10px
    }
    #steps h5 {
        font-size: 26px
    }
    #steps h1 {
        font-size: 34px
    }
    #user_reviews .review_wrap .comment_wrap:before {
        left: 47%
    }
    #user_reviews h1 {
        font-size: 40px
    }
    #user_reviews h5 {
        font-size: 28px;
        margin-bottom: 0
    }
    footer h1 {
        font-size: 32px
    }
    footer .content_wrap {
        padding: 20px 20px 35px
    }
    footer .content_wrap form .btn {
        padding: 12.5px 75px
    }
    footer form {
        width: 250px
    }
}
/*# sourceMappingURL=style.css.map */