/*
 Playfair Display serif
 Roboto sans-serif
*/
/*
 @font-face {
     font-family: name;
     src: url(../fonts/name.ttf);
 }
 */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
/*  end */




 @font-face {
     font-family: PlayfairRegular;
     src: url(../fonts/PlayfairDisplay-Regular.otf);
 }
  @font-face {
     font-family: PlayfairBlold;
     src: url(../fonts/PlayfairDisplay-Bold.otf);
 }
  @font-face {
     font-family: PlayfairCS;
     src: url(../fonts/PlayfairDisplaySC-Regular.otf);
 }
